logging:
  level:
    org.hibernate.SQL: "DEBUG"

spring:
  application:
    name: "jwt"

  datasource:
    url: "jdbc:sqlite:db.sqlite3"
    driver-class-name: "org.sqlite.JDBC"

  jpa:
    hibernate:
      ddl-auto: "update"

    open-in-view: false

  output:
    ansi:
      enabled: ALWAYS

server:
  port: "${SERVER_PORT:8080}"

jwts:
  public-key: "classpath:certs/jwts/public.pem"
  private-key: "classpath:certs/jwts/private.pem"

  access-token-lifetime: PT30M # 30 minutes
  refresh-token-lifetime: P30D # 30 days

  secret-key: "${JWT_SECRET}"